.slider-container{
    background-color: rgb(17, 150, 79);
    text-align: center;
    
    position: absolute;
}
.slider-container .item-macth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.slider-container .content-macth img{
    width: 80px;
}
.macth-schedule{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #b7bbc0;
    padding:0 10px;
}
.macth-schedule p{

    max-width: 100px;
    text-transform: none;
    font-weight: 800;
  
}

.macth-schedule .tanggal{
display: flex;
align-items: center;
}
.macth-schedule .tanggal p{
    font-size: 60px;
}
.macth-schedule .tanggal h2  {
    flex-direction: column;
    display: flex;
    font-weight: 200;
    max-width: 60px;
    border-right: 3px solid black;
}
.navigation-buttons{
    position: absolute;
    width: 10%;
    padding:0 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
.prev-buttons,.next-buttons{
    z-index: 9999;
    font-size: 2.1rem;
    color:chartreuse;
    background-color: beige;
    padding: 12px;
    border-radius: 3mm;
}
.slider-container.active{
   
    clip-path: circle(150% at 0 50%);
    transition: 2s;

}